/* General styles & resets */
:root {
    --white: #f0f0f0;
    --red-wine: #5c0029;
    --blue-dark: #00378c;
    --blue-light: #5d8ef0e6;
    --gray-darken: #646464;
    --gray-mid: #929292;
    --gray-old: #c7beb4;
}

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */

}

body, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.5;
    font-family: 'Prompt', sans-serif;
    color: var(--blue-dark);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
ul, ol, dl {
    list-style-type: none;
}

a, li {
    text-decoration: none;
    color: inherit;
}
.h2-sm {
    font-size: 1.5rem;
}
.p-sm {
    font-size: 1.25rem;
    color: var(--gray-darken);
}
.bg-blue {
    background-color: var(--blue-dark);
}

.f-blue {
    color: var(--blue-dark);
}

.f-gray{
    color: var(--gray-mid);
}

.f-red {
    color: var(--red-wine);
}


.py-custom {
    padding: 5rem 0;
}
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-light);
}

.btn.btn-wine {
    background-color: var(--red-wine);
    color: var(--white);
    font-size: 1.25rem;
}
.navbar-toggler i {
    color: var(--white);
    font-size: 1.8rem;
}

.subtitle {
    color: var(--red-wine);
    font-size: 1.1rem;
    letter-spacing: 5px;
}


/* Navbar */

.navbar-custom {
    padding: 0;
    height: 6rem;
    background-color: transparent;
}


.navbar__navigation .social__wrapper {
    max-width: 150px;
}

.navbar__navigation ul li {
    margin: 0 1rem;
}

.navbar__navigation .social__wrapper a {
    margin: 0 .25rem;
}

.navbar__navigation ul li,
.navbar__navigation .social__wrapper a {
    font-size: 1.2rem;
    color: var(--white);
}

.logo__name {
    font-family: 'Pacifico', cursive;
    font-size: 2.1rem;
    color: var(--white);
}

.nav-link {
    color: var(--white);
}
.nav-link.active {
    color: var(--gray-old) !important;
    font-weight: 700;
    border-bottom: 2px solid var(--gray-old);
}

.nav-link:hover {
    color: var(--blue-dark);
}

.nav-sticky.navbar-custom {
  margin-top: 0px;
  box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
}

.nav-sticky.navbar-custom.sticky-dark {
    background-color: var(--blue-dark);
}

.offcanvas-header button i {
    font-size: 1.8rem;

}
.offcanvas-body .navbar-nav .nav-item {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.offcanvas-body .social__wrapper i{
    color: var(--white);
    font-size: 3rem;
}

/*Hero*/

.hero {
    background-image: url('../assets/Group1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    position: relative;
    z-index: -1;
    /* margin: 6rem 0 0 0; */
}

.hero .container {
    min-height: 100%;
    position: absolute;
    color: var(--white);
}

.wrapper {
    max-width: 600px;
}

.wrapper h2 {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 300;
}
.wrapper p {
    font-size: 1.2rem;
}

.subscribe-form input {
  padding: 1rem 1.25rem;
  width: 100%;
  font-size: inherit;
  color: var(--gray-darken);
  border: none;
  outline: none !important;
  padding-right: 180px;
  padding-left: 30px;
  background-color: var(--white);
  border-radius: 30px;
}

.subscribe-form button {
  position: absolute;
  text-transform: uppercase;
  top: 5%;
  right: .5%;
  outline: none !important;
  border-radius: 30px;
  font-size: 1rem;
  padding: .6rem 2.5rem;
  margin: .1rem;
}

.subscribe-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}


/* About Section */

.about {
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    min-height: 650px;
}

.about__card {
    background-color: var(--white);
    border-radius: 30px;
    max-width: 1100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.about__content p {
    font-size: 1.2rem;
}

.about__card--footer p {
    display: flex;
    align-items: baseline;
    width: 70%;
    color: var(--gray-mid);
}
.about__card--footer p span {
    margin: 0 .5rem;
    color: var(--blue-dark);
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    display: block;
}

/*Masterclass*/
.masterclass {
    background-color: #f0f0f0;
}

.masterclass .features {
   grid-auto-rows: 14rem;
   grid-template-columns: repeat(
        auto-fill, 
        minmax(18rem, 1fr)
    );
   gap: 2rem;
   height: 100%;
   max-width: 1100px;
}

.features__card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
}

.features__card img {
    height: 70px;
}
.features__card h3 {
    margin-top: .5rem;
}

.features__card p {
    color: var(--gray-mid);
    font-size: 1rem;
}

.features__card--resources {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.features__card--resources div {
    display: flex;
    align-items: baseline;
    gap: .75rem;
    color: var(--gray-mid);
}

.features__card--resources div p {
    margin: 0 .5rem;
}

/* testimonials */

.testimonials {
    background-color: var(--gray-old);
}

.testimonial__card {
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.testimonial__card h3 {
    font-size: 1.75rem;
}

.testimonial__card p {
    color: var(--gray-mid);
}



/*contact form */
.contact__image {
    flex: 0 0 40%;
}
.contact__form {
    max-width: 500px;
}
.contact__form form .form-field input {
    width: 100%;
    max-width: 500px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border: none;
}

.contact__form form .min-w-100 {
    max-width: 350px;
    min-width: 100%
}

.contact__form .form-field {
    position: relative;
    margin-bottom: 2rem;
}
.contact__form .form-field.success input{
    border-color: var(--blue-light);
}
.contact__form .form-field.error input{
    border-color: var(--red-wine);
}
.contact__form .form-field input:focus {
    outline: 0;
    border-color: var(--gray-mid) ;
}

.contact__form .form-field small {
    visibility: hidden;
    color: var(--red-wine);
    position: absolute;
    top: 100%;
    left: 10%;
    margin-top: .5rem;
}

.contact__form .form-field.error small {
    visibility: visible;
    font-weight: 500;
}


/* Footer */
footer {
    min-height: 200px;
}
footer .borderbottom-w {
    border-bottom: .1rem solid var(--white);
}

.footer__nav .nav-item {
    width: 50%;
    margin-top: 0.75rem;
    font-size: 1.25rem;
}

footer .social__wrapper {
    color: var(--white);
    min-width: 150px;
    /* width: 100%; */
}

footer .social__wrapper i {
    font-size: 1.5rem;
}